<div class="contenedor mt-5 fondo">

    <div class="row">
        <div class="col" > <h2 (click)="seleccionaNivel(1)"> Facil</h2>       </div>
        <div class="col"> <h2 (click)="seleccionaNivel(2)"> Intermedio</h2>  </div>
        <div class="col"> <h2 (click)="seleccionaNivel(3)"> Dificil</h2>     </div>
    </div>

    <div class="row" style="margin: 0; padding: 0;" *ngFor="let fila of arrayFilas">
        <div class="col" style="margin: 0; padding: 0; flex-grow: 0;" *ngFor="let columna of arrayColumnas">
            <button (contextmenu)="clickDerecho($event,fila,columna)" (click)="destapar(fila,columna)" id="{{fila}}_{{columna}}" class="casilla"></button>
        </div>
    </div>
    <div id="app"></div>

    <!-- <button (click)="pintarTablero()">Pintar tablero</button> -->
    <!-- <button (click)="generarCampoMinasVacio()">GenerarCampoVacio</button> -->
    <!-- <button (click)="plantarMinas()">PlantarMinas</button> -->
    <!-- <button (click)="mostrar()">mostrar</button> -->
    <!-- <button (click)="inicio()">inicio</button> -->

    <button (click)="nuevoJuego()">Nuevo Juego</button>

</div>