
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1 class="display-3">Sala de juegos</h1>
        <p>
          <strong>Bienvenido</strong> a mi sala de juegos, espero que te diviertas!
        </p>
    </div>

    <!-- responsive equal width cols, can be sm, md, lg, or xl -->
    <div class="container">
      <div class="row" align="center" >

        <div class="col-sm">
          <div class="card">
            <a (click)="goToAhorcado()" > <img class="card-img-top" src="../../../assets/ahorcado.png" alt="Card image cap"></a>
            <div class="card-body">
              <h4 class="card-title"> <strong> Ahorcado</strong> </h4>
              <p class="card-text">
                El clasico juego del ahorcado ahora disponible en la web. Probalo!!
              </p>
              <button class="bttn-jelly bttn-md bttn-primary bttn-block" (click)="goToAhorcado()">IR</button>

            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card" >
            <a (click)="goToMayorMenor()" ><img class="card-img-top" src="../../../assets/mayormenor.png" alt="Card image cap"></a>
            <div class="card-body">
              <h4 class="card-title"> <strong> Mayor o Menor</strong></h4>
              <p class="card-text">
                El famoso juego de cartas adaptado para que se pueda jugar
                en internet!
              </p>
              <button class="bttn-jelly bttn-md bttn-primary bttn-block" (click)="goToMayorMenor()">IR</button>
            </div>
          </div>
        </div>
    </div>

    <div class="row" align="center">
        <div class="col-sm">
          <div class="card" >
            <img class="card-img-top" src="../../../assets/question.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Preguntados</h4>
              <p class="card-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
              <button class="bttn-jelly bttn-md bttn-primary bttn-block" >IR</button>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card" >
            <img class="card-img-top" src="../../../assets/favicon.ico" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Juego Propio</h4>
              <p class="card-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
              <button class="bttn-jelly bttn-md bttn-primary bttn-block" >IR</button>
            </div>
          </div>
        </div>
      
      </div>

    </div>
    

  </main>

  <footer class="container">
    <p>&copy; Pedro Señeriz - 2021</p>
  </footer>
