/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }

.jumbotron,
.card{
  margin: 8px; 
  border-radius: 1cm; 
  background-color: #bcc54e;
}