/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron {
  margin: 8px;
  border-radius: 1cm;
  background-image: url("../../../assets/header.jpg");
  background-position: center center;
  /* El fondo se re-escala automáticamente */
  background-size: cover;
  /* Color de fondo si la imagen no se encuentra o mientras se está cargando */
  background-color: #FFF;
  /* Fuente para el texto */
  text-align: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.jumbotron h1,
p {
  background-color: rgb(255, 255, 255, 0.3);
  /* padding: 50%; */
}

.card {
  margin: 8px;
  border-radius: 1cm;
  background-image: url("../../../assets/fondoMesa.jpg");
}

.card a:hover {
  cursor: pointer;
}