
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1 class="display-3">Sala de juegos</h1>
        <p>
          <strong>Bienvenido</strong> a mi sala de juegos, espero que te diviertas!
        </p>
    </div>

    <!-- responsive equal width cols, can be sm, md, lg, or xl -->
    <div class="container">
      <div class="row" align="center" >

        <div class="col-sm">
          <div class="card">
            <a (click)="goToAhorcado()" > <img class="card-img-top" src="assets/ahorcado/ahorcado.png" alt="Ahorcado"></a>
            <div class="card-body">
              <h4 class="card-title"> <strong> Ahorcado</strong> </h4>
              <p class="card-text">
                El clasico juego del ahorcado ahora disponible en la web. Probalo!!
              </p>
              <button class="bttn-jelly bttn-md bttn-primary bttn-block" (click)="goToAhorcado()">IR</button>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card" >
            <a (click)="goToMayorMenor()" ><img class="card-img-top" src="assets/mayor-menor/mayormenor.png" alt="Mayor-menor"></a>
            <div class="card-body">
              <h4 class="card-title"> <strong> Mayor o Menor</strong></h4>
              <p class="card-text">
                Adivina si la proxima carta será mayor o menor que la ultima que salio!
              </p>
              <button class="bttn-jelly bttn-md bttn-primary bttn-block" (click)="goToMayorMenor()">IR</button>
            </div>
          </div>
        </div>
    </div>

    <div class="row" align="center">
        <div class="col-sm">
          <div class="card" >
            <a (click)="goToPreguntados()"> <img class="card-img-top" src="assets/preguntados/question.png" alt="Preguntados"> </a>
            <div class="card-body">
              <h4 class="card-title"><strong> Preguntados</strong></h4>
              <p class="card-text">
                1 pregunta. 4 respuestas. Elige la correcta para sumar más puntos!
              </p>
              <button (click)="goToPreguntados()" class="bttn-jelly bttn-md bttn-primary bttn-block" >IR</button>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card" >
            <a (click)="goToBuscaminas()"> <img class="card-img-top" src="assets/buscaminas/logobuscaminas.png" alt="Buscaminas"> </a>
            <div class="card-body">
              <h4 class="card-title"><strong> Juego Propio</strong></h4>
              <p class="card-text">
                Mi juego propio es el buscaminas. El objetivo del juego es despejar un campo de minas sin detonar ninguna
              </p>
              <button (click)="goToBuscaminas()" class="bttn-jelly bttn-md bttn-primary bttn-block" >IR</button>
            </div>
          </div>
        </div>
      
      </div>

    </div>
    

  </main>

  <footer class="container">
    <p>&copy; Pedro Señeriz - 2021</p>
  </footer>
