
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Pedro Señeriz!</h1>
        <p>
          <strong>Bienvenido</strong> a mi sala de juegos, espero que te diviertas!
        </p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <!-- responsive equal width cols, can be sm, md, lg, or xl -->
    <div class="container">
      <div class="row" align="center" >

        <div class="col-sm">
          <div class="card" style="margin: 8px;">
            <a > <img class="card-img-top" src="../../../assets/ahorcado.png" alt="Card image cap"></a>
            <div class="card-body">
              <h4 class="card-title">Ahorcado</h4>
              <p class="card-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
              <a (click)="MostrarData()" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card" style="margin: 8px;">
            <a (click)="goToMayorMenor()" ><img class="card-img-top" src="../../../assets/mayormenor.png" alt="Card image cap"></a>
            <div class="card-body">
              <h4 class="card-title">Mayor o Menor</h4>
              <p class="card-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
              <a class="btn btn-primary" (click)="goToMayorMenor()" >Go somewhere</a>
            </div>
          </div>
        </div>
    </div>

    <div class="row" align="center">
        <div class="col-sm">
          <div class="card" style="margin: 8px;">
            <img class="card-img-top" src="../../../assets/question.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Preguntados</h4>
              <p class="card-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
              <a class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card" style="margin: 8px;">
            <img class="card-img-top" src="../../../assets/favicon.ico" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Juego Propio</h4>
              <p class="card-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
              <a class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      
      </div>

    </div>
    

  </main>

  <footer class="container">
    <p>&copy; Company 2017-2018</p>
  </footer>
