<div class="container">
    <div class="row" style="display: block; align-items: center;" align="center">
        <div class="col col-sm-10 col-lg-8" style="padding: 0;">
            <div class="card box">
                <h1>Ingreso</h1>
                <p class="text-muted"> Ingrese su usuario y contraseña</p>
                <input type="text" name="" placeholder="Correo" [(ngModel)]="correo">
                <input type="password" name="" placeholder="Clave" [(ngModel)]="clave">
                <p class="text-danger">{{error}}</p>
                <a class="forgot text-muted" (click)="goToRegistro()">
                    No tiene una cuenta? <strong>Crear Cuenta</strong> </a>
                <input type="submit" name="" value="Ingresar" (click)="signIn()">
                <input type="submit" name="" value="Acceso Rapido" (click)="AccesoRapido()">
            </div>
        </div>
    </div>
</div>