<main role="main">
  <div class="container" align="center">

    <div class="jumbotron m-3 p-2">
      <div class="container">
        <h1>{{datosGithub.name}}</h1>
        <a href="https://github.com/PedroS2001">
          <img src={{datosGithub.avatar_url}} style="border-radius: 10%;" width="80%" alt="">
        </a>
        <p>{{datosGithub.bio}}</p>
      </div>
    </div>

    <div class="jumbotron m-3 p-2">
      <div class="container">
        <h1>Juego Propio:</h1>
        <h2>Buscaminas</h2>
        <img (click)="goToBuscaminas()" src="assets/logobuscaminas.png" width="80%" style="border-radius: 10%; " alt="">
        <p>Mi juego propio es el buscaminas. El objetivo del juego es despejar un campo de minas sin detonar ninguna.
        </p>
      </div>
    </div>

  </div>
</main>